version: '3.9'

services:
  nginx-rtmp:
    image: tiangolo/nginx-rtmp
    container_name: nginx-rtmp
    ports:
      - "1935:1935"  # RTMP
      - "8080:8080"  # HTTP/HLS optional
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - live-streaming

  ffmpeg:
    build: ./ffmpeg
    depends_on:
      - nginx-rtmp
    networks:
      - live-streaming
    volumes:
      - ./ffmpeg/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/entrypoint.sh"]
    command: ["rtmp://nginx-rtmp/live/stream", "rtmp://upstream-server/live/stream"]




  python-relay:
    build:
      context: ./python-relay
    container_name: python-relay
    depends_on:
      - nginx-rtmp
      - ffmpeg
    networks:
      - live-streaming

networks:
  live-streaming:
    driver: bridge
